{
  "formatOnSave":true,
  "formatOnPaste":true,
  "printWidth": 500,
  "tabWidth": 4,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": [],
  "endOfLine": "auto",
  "eslintIntegration": false, 
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "babylon",
  "requireConfig": false,
  "requirePragma": false,
  "useEditorConfig": false,
  "stylelintIntegration": false,
  "tslintIntegration": true
}