#Article_CSS a:hover {
  color: #1b1b1b;
  text-decoration: none
}

.Article_CSS_Doc a:hover h1:after,.Article_CSS_Doc a:hover h2:after,.Article_CSS_Doc a:hover h3:after,.Article_CSS_Doc a:hover h4:after,.Article_CSS_Doc a:hover h5:after {
  color: #0868F7;
  content: "#";
  display: inline;
  margin-left: 7px
}

#Article_CSS {
  font-size: 16px;
  padding: 16px 0
}

#Article_CSS  h1:first-child,#Article_CSS  h2:first-child,#Article_CSS  h3:first-child,#Article_CSS  h4:first-child,#Article_CSS  h5:first-child {
  margin-top: 0
}

#Article_CSS h1,#Article_CSS h2,#Article_CSS h3,#Article_CSS h4,#Article_CSS h5 {
  color: #222328;
  font-weight: 700!important;
  overflow-wrap: break-word;
  word-break: break-word
}

:is(.dark #Article_CSS h1),:is(.dark #Article_CSS h2),:is(.dark #Article_CSS h3),:is(.dark #Article_CSS h4),:is(.dark #Article_CSS h5) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

#Article_CSS h1 {
  font-size: 1.8em;
  margin: .8em 0 .6em
}

#Article_CSS h2 {
  font-size: 1.6em;
  margin: .8em 0 .6em
}

#Article_CSS h3 {
  font-size: 1.45em;
  margin: .85em 0 .6em
}

#Article_CSS h4 {
  font-size: 1.3em;
  margin: .9em 0 .6em
}

#Article_CSS h5 {
  font-size: 1.15em;
  margin: 1em 0 .6em
}

#Article_CSS p {
  color: #393939;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0;
  word-break: break-word
}

:is(.dark #Article_CSS p) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

#Article_CSS blockquote {
  background: #f4f5f6;
  border-left: 6px solid #d8d9dc;
  color: #595959;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: .85em;
  padding: 15px
}

:is(.dark #Article_CSS blockquote) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

#Article_CSS table {
  word-wrap: break-word;
  border-collapse: collapse!important;
  max-width: 100%;
  overflow: auto;
  table-layout: fixed;
  text-align: start;
  width: auto
}

.Article_CSS_Doc table {
  margin-bottom: .82em
}

#Article_CSS table td,#Article_CSS table th {
  border: 1px solid #e0e5e9;
  color: #3b454e;
  padding: 6px 10px
}

:is(.dark #Article_CSS table td),:is(.dark #Article_CSS table th) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

#Article_CSS table th {
  background: #f4f6f8
}

.Article_CSS_Doc ul {
  list-style-type: disc!important;
  padding-left: 20px!important
}

.Article_CSS_Doc ul>ul {
  list-style-type: circle!important;
  padding-left: 20px!important
}

.Article_CSS_Doc ul>ul>ul {
  list-style-type: square!important;
  padding-left: 20px!important
}

.Article_CSS_Doc ol {
  list-style-type: decimal!important;
  padding-left: 30px!important
}

.Article_CSS_Doc li {
  line-height: 2em
}

#Article_CSS code {
  background-color: #f5f2f0;
  border-radius: 3px;
  line-height: 1.5;
  padding: 3px
}

#Article_CSS p code {
  background: #f1f2f2!important;
  padding: 4px 7px!important
}

#Article_CSS pre {
  border-radius: 6px!important;
  font-size: 14px!important;
  max-width: 1200px;
  overflow-x: auto;
}

#Article_CSS pre + pre {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  #Article_CSS table {
      max-width:1200px;
      width: auto!important;
      word-break: break-all
  }

  #Article_CSS .code-toolbar {
      max-width: 1200px
  }
}

@media screen and (max-width: 640px) {
  #Article_CSS .code-toolbar,#Article_CSS pre {
      max-width:100vw
  }
}

@media screen and (min-width: 1280px) {
  #Article_CSS .code-toolbar {
      max-width:832px
  }
}

.Article_CSS_Doc pre {
  background: #f5f2f0;
  padding: 15px
}

.Article_CSS_Doc .code-toolbar .toolbar {
  margin-right: 6px
}

.Article_CSS_Doc .token.operator {
  background: initial!important
}

.Article_CSS_Doc hr {
  margin: 30px 0
}

#Article_CSS a {
  color: #117cee;
  text-decoration: none;
  word-break: break-all
}

#Article_CSS a:hover {
  background: #deedfc;
  color: #0073ee;
  text-decoration: underline
}

.Article_CSS_Doc a:hover {
  background: initial!important
}

#Article_CSS img {
  border-radius: 6px;
  cursor: default;
  cursor: zoom-in;
  display: inline!important;
  margin: 0 3px;
  max-width: calc(100% - 6px);
  min-height: 20px;
  min-width: 20px
}

@media screen and (max-width: 768px) {
  #Article_CSS img {
      height:auto!important
  }
}

#Article_CSS div[data-type=video] {
  background: #464646;
  border-radius: 10px;
  margin-bottom: 10px
}

#Article_CSS div[data-type=video] iframe {
  border-radius: 10px;
  min-height: 400px;
  width: 100%
}

#Article_CSS div[data-type=video] video {
  border-radius: 10px;
  height: 400px;
  width: 100%
}

.hl-edior3 {
  all: initial;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  line-height: 1.4;
  margin: 1rem
}

:is(.dark .hl-edior3) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

.hl-edior3 p {
  display: block;
  margin-block-end:1em;margin-block-start:1em;margin-inline-end:0;margin-inline-start:0}

.hl-edior3 h1,.hl-edior3 h2,.hl-edior3 h3,.hl-edior3 h4,.hl-edior3 h5,.hl-edior3 h6 {
  color: initial;
  display: block;
  font-weight: 700;
  margin-inline-end:0;margin-inline-start:0;text-decoration: none;
  word-break: break-word
}

:is(.dark .hl-edior3 h1),:is(.dark .hl-edior3 h2),:is(.dark .hl-edior3 h3),:is(.dark .hl-edior3 h4),:is(.dark .hl-edior3 h5),:is(.dark .hl-edior3 h6) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

.hl-edior3 h1 {
  font-size: 2em;
  margin-block-end:.67em;margin-block-start:.67em}

.hl-edior3 h2 {
  font-size: 1.5em;
  margin-block-end:.83em;margin-block-start:.83em}

.hl-edior3 h3 {
  font-size: 1.17em;
  margin-block-end:1em;margin-block-start:1em}

.hl-edior3 h4 {
  margin-block-end:1.33em;margin-block-start:1.33em}

.hl-edior3 h5 {
  font-size: .83em;
  margin-block-end:1.67em;margin-block-start:1.67em}

.hl-edior3 h6 {
  font-size: .67em;
  margin-block-end:2.33em;margin-block-start:2.33em}

.hl-edior3 a {
  word-break: break-word
}

.hl-edior3 a,.hl-edior3 a:hover {
  color: #00e;
  text-decoration: underline
}

.hl-edior3 ul {
  display: block;
  list-style-type: disc;
  margin-block-end:1em;margin-block-start:1em;margin-inline-end:0;margin-inline-start:0;padding-inline-start:40px}

.hl-edior3 ul ul {
  list-style-type: circle;
  margin-block-end:0;margin-block-start:0}

.hl-edior3 ul ul ul {
  list-style-type: square
}

.hl-edior3 ol {
  display: block;
  list-style-type: decimal;
  margin-block-end:1em;margin-block-start:1em;margin-inline-end:0;margin-inline-start:0;padding-inline-start:40px}

.hl-edior3 ol ol {
  margin-block-end:0;margin-block-start:0}

.hl-edior3 blockquote {
  background: #f4f5f6;
  border-left: 6px solid #d8d9dc;
  color: #595959;
  margin-left: 0;
  padding: 4px 1rem
}

:is(.dark .hl-edior3 blockquote) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

.hl-edior3 hr {
  border: solid #ccc;
  border-width: 1px 0 0
}

.hl-edior3 figure {
  display: table;
  margin: 1rem auto
}

.hl-edior3 figure figcaption {
  color: #999;
  display: block;
  margin-top: .25rem;
  text-align: center
}

:is(.dark .hl-edior3 figure figcaption) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity))
}

.hl-edior3 table {
  border-collapse: collapse;
  overflow-x: auto
}

.hl-edior3 tbody {
  border-color: inherit;
  display: table-row-group;
  vertical-align: middle
}

.hl-edior3 tr {
  border-color: inherit;
  display: table-row;
  vertical-align: inherit
}

.hl-edior3 td {
  border-width: 1px;
  display: table-cell;
  vertical-align: inherit
}

.hl-edior3:after,.hl-edior3:before {
  border: 1px solid #e5e7eb
}

.hl-edior3 .table-container {
  max-width: 100%;
  overflow-x: auto
}

.hl-edior3 table:not([cellpadding]) td,.hl-edior3 table:not([cellpadding]) th {
  padding: .4rem
}

.hl-edior3 table[border]:not([border="0"]):not([style*=border-width]) td,.hl-edior3 table[border]:not([border="0"]):not([style*=border-width]) th {
  border-width: 1px
}

.hl-edior3 table[border]:not([border="0"]):not([style*=border-style]) td,.hl-edior3 table[border]:not([border="0"]):not([style*=border-style]) th {
  border-style: solid
}

.hl-edior3 table[border]:not([border="0"]):not([style*=border-color]) td,.hl-edior3 table[border]:not([border="0"]):not([style*=border-color]) th {
  border-color: #ccc
}

.hl-edior3 a:hover {
  color: #1b1b1b;
  text-decoration: none
}

.hl-edior3 a:hover h1:after,.hl-edior3 a:hover h2:after,.hl-edior3 a:hover h3:after,.hl-edior3 a:hover h4:after,.hl-edior3 a:hover h5:after {
  color: #0868F7;
  content: "#";
  display: inline;
  margin-left: 7px
}
